.firstnav{
  li{
    line-height: 2.4rem;
    font-size: .91rem;  
    letter-spacing: .13rem;
    font-family: $header_font;
    text-transform: uppercase;
  }
}
.subnav{
  li{
    line-height: 2.2rem;
    font-size: 1.05rem;
    letter-spacing: 1px;
    font-family: $nav_second_font;
    text-transform: capitalize;
  }
}