// Laptop
@media screen and (min-width: 1000px) {
  .nav-toggle {
    display: none;
  }
  .nav{
    display: block;
  }
}
// Tablet Portrait
@media screen and (max-width: 850px){
  .navbar {
    &>div {
      flex: 1;
    }
    .nav-toggle {
      display: block !important;
    }
    .nav{
      display: none;
    }
    .navbar-icons {
      display: flex;
      justify-content: flex-end;
    }

  }
  .banner{
    .banner-shop {
      top: 15% !important;
    }
  }
  .home-all-products {
    width: 96%;
    margin: 0 auto;
    .home-product{
      width: 46% !important;
    }
  }
  .singe-product {
    width: 31% !important;
    .single-product-image {
      height: 17rem !important;
    }
    .single-product-info {
      div:nth-child(1) {
        height: 4.4rem !important;
        line-height: 2.2rem !important;
      }
    }
  } 
  .drop-down-list {
    display: none;
  }
  .product-filter {
    display: none;
  }
}

// phone size
@media screen and (max-width: 600px) {
  .navbar .sidebar {
    width: 76%;
    left: -76%;
  }
  .home-all-products {
    flex-direction: column;
    width: 70%;
    .home-product {
      width: 100% !important;
    }
  }
  
  .singe-product {
    width: 47% !important;
    .single-product-image { 
      height: 21rem !important;
    }
    .single-product-info {
      div:nth-child(1) {
        height: 4.8rem !important;
        line-height: 2.4rem !important;
      }
    }
  } 
  
}

html {
  font-size: 16px;
  @media screen and (man-width: 320px) {
    font-size: 4px;
  }

  // Mobile Portrait
  @media screen and (min-width: 320px) {
    font-size: 6px;
  }
   // Mobile Landscape
   @media screen and (min-width: 500px) {
    font-size: 5px;
  }
  // Mobile Landscape
  @media screen and (min-width: 600px) {
    font-size: 6px;
  }
  // Mobile Landscape
  @media screen and (min-width: 700px) {
    font-size: 7px;
  }

  // Tablet Portrait
  @media screen and (min-width: 800px) {
    font-size: 8px;
  }
  // Tablet Landscape
  @media screen and (min-width: 900px) {
    font-size: 9px;
  }// Tablet Landscape
  @media screen and (min-width: 1000px) {
    font-size: 10px;
  }
  // Tablet Landscape
  @media screen and (min-width: 1100px) {
    font-size: 11px;
  }
  // Small Laptops
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
  // Small Laptops
  @media screen and (min-width: 1400px) {
    font-size: 14px;
  }

  // Large Monitors
  @media screen and (min-width: 1600px) {
    font-size: 16px;
  }
}

