$header_font: 'Montserrat', sans-serif;
$nav_second_font: 'Poppins', sans-serif;


$no: 20;
$icon_font: 'icomoon';
$link_color: rgb(27, 27, 27);
$border_color:rgb(102, 99, 99);
$box_shadow_color: rgb(228, 227, 227);