@import 'variables';

//partials
@import 'common';
@import 'global';
@import 'normalize';
@import 'media';
@import 'fonts';

//components
@import './components/navbar';
@import './components/sidebar';
@import './components/home.scss';
@import './components/banner_slide.scss';
@import './components/footer.scss';
@import './components/product.scss';
@import './components/filter.scss';
@import './components/drop_down.scss';

body {
  font-family: $nav_second_font;
  color: $font_color;
  overflow-x: hidden;
}
i {
  font-family: $icon_font;
}
