.banner {
  position: relative;
  width: 100%;
  height: 34.61vw;
  .imagelist {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 34.61vw;
    }
  }
  .banner-shop {
    position: absolute;
    top: 25%;
    left: 10%;
    // transform: translate(-50%,-50%);
    font-family: $header_font;
    text-align: center;
    white-space: nowrap;
    div:nth-child(1), div:nth-child(2) {
      font-size: 3.2rem;
      font-weight: 600;
    } 
    div:nth-child(3){
      font-size: 1rem;
      letter-spacing: 0.02rem;
      margin-top: 1.3rem;
    }
    div:last-child {
      margin: 1.3rem auto;
      letter-spacing: 0.001rem;
      button {
        background-color: rgba($color: #000000, $alpha: 0);
        border: 1px solid rgb(51, 50, 50);
        border-radius: 9px;
        padding: 0.2rem 0.4rem 0.3rem;
      }
    }
  }
}