footer {
  height: 22rem;
  padding-bottom: 6rem;
  background-color: $header_bg_color;
  text-align: center;
  font-size: 1.04rem;
  // icons in footer
  .footer-icons {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    font-size: 2.5rem;
    i {
      padding: 9px;
      display: inline-block;
      border: 2px solid $footer_color;
      border-radius: 50%;
      color: $footer_color;
    }
    a:nth-child(-n+2) {
      margin-right: 2rem;
    }
  }
  // footer links
  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    color: $footer_color;
    a:nth-child(-n+4) {
      margin-right: 3rem;
    }
  }
  div:nth-last-child(-n+2){
    font-size: 0.9rem;
    margin-top: 0.6rem;
  }
}