.sidebar {
  position: absolute;
  left: -40%;
  top: 0;
  z-index: 999;
  width: 35%;
  height: 100%;
  background-color: white;
  padding: 2rem 2rem;
  transition: all .5s ease;
  i {
    cursor: pointer;
    display: block;
    margin-bottom: 2rem;
    color: rgb(92, 91, 91);
    font-size: 1.8rem;
  }
  &>ul{
    &>li{
      padding: 0.8rem 0;
      border-bottom: 1px solid $border_color;
      cursor: pointer;
    }
    .sidebar-subnav {
      max-height: 0;
      overflow: hidden;
      padding-left: 0.8rem;
      transition: max-height .7s ease;
    }
    .sidebar-shop {
      display: flex;
      justify-content: space-between;
      height: 2.4rem;
        i {
          display: inline-block;
          font-size: 1rem;
        }
    }
  }
}
.open-sidebar-subnav {
  max-height: 10rem !important;
}
.open-side-bar {
  left: 0 !important;
}
